/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-3-31, 18:25:01
    Author     : ciara
*/
.margin{
    margin: 5px;
}
.margin-10{
    margin: 10px;
}
.margin-20{
    margin: 20px;
}
.margin-30{
    margin: 30px;
}
.margin-40{
    margin: 40px;
}
.margin-50{
    margin: 50px;
}

